
body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	width: 100%;
	height: 100%;
}

#viewer {
	position:relative;
	text-align: left;
	height: 100%;
	
	background:#FFFFFF;
	font-size: 0.75em; 
}

.container {
	/* border: 1px dashed red;*/ 
}

input { height: 1em; }
input[type=radio] { margin-right: 0.3em;}

.size_3 { font-size: 1.75em; }
.size_2 { font-size: 1.25em; }

.push5 { margin-top: 2.5%; }
.push10 { margin-top: 5%; }
.push20 { margin-top: 10%; }

.screen {
}

#messages {
	position: absolute;
	bottom: 15%;
}

img { width: 100%; }

.errors {color: red;}
.input_error { background-color: #FF8888; }
div.input_error {background-color: #FFFFFF; border-left: solid 2px #FF8888;}
select { width: 7em; }
#messages { font-size: 0.9em; }

#action-buttons a {
	background-color: #0000FF;
	color: white;
	border-radius: 5px;
	padding: 0.5em 1em;
	cursor: pointer;
	margin: 0 5% 0 0;
	float: left; 
}

#action-buttons a.forward-button {
	margin: 0 0 0 5%;
	float: right;
}

#action-buttons {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.selector {
	cursor: pointer;
}

@media screen and (max-width: 450px) {
	#viewer { font-size: 0.75em; }
	.container { height: 360px; /* iPhone portrait*/  }
	.max33 { width: 50%; }
}
@media screen and (min-width: 450px) {
	#viewer { font-size: 0.87em; }
	.container { height: 240px; /* iPhone landscape */ }
}
@media screen and (min-width: 550px) {
	#viewer { font-size: 1em; }
	.container { height: 275px; }
}
@media screen and (min-width: 650px) {
	#viewer { font-size: 1.15em; }
	.container { height: 325px; }
}
@media screen and (min-width: 750px) {
	#viewer { font-size: 1.3em; }
	.container { height: 375px; }
}
@media screen and (min-width: 850px) {
	#viewer { font-size: 1.5em; }
	.container { height: 425px; }
}
@media screen and (min-width: 950px) {
	#viewer { font-size: 1.75em; }
	.container { height: 475px; }
}
